In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("./annotation/annotation_merged_remove_gap.csv")
train_df.shape

(5954, 6)

In [3]:
valid_df = train_df.sample(n=500)
train_df = train_df.drop(valid_df.index, axis=0, inplace=False)
train_df.shape, valid_df.shape

((5454, 6), (500, 6))

In [4]:
train_df = train_df.reset_index(drop=True)
valid_df = valid_df.reset_index(drop=True)

In [5]:
train_df.to_csv("./annotation/annotation_merged_remove_gap/train.csv", index=False)
valid_df.to_csv("./annotation/annotation_merged_remove_gap/valid.csv", index=False)

In [6]:
train_df = pd.read_csv("./annotation/annotation_merged_remove_gap/train.csv")
valid_df = pd.read_csv("./annotation/annotation_merged_remove_gap/valid.csv")

In [7]:
train_df

,dataset,image_number,title,tags_ko,motion_exist,greenscreen_exist
0,dataset1,1,세개의 크리스마스 트리,"['조명', '나무', '모션', '그린스크린', '겨울', '크리스마스', '산타...",True,True
1,dataset1,2,저수지마을_구름_일몰,"['시골', '일몰', '마을', '구름', '지붕', '전경', '산', '강물'...",False,False
2,dataset1,3,염전 곰소 드론 -20 _2160p_30fps_prores422,"['바다', '농사', '드론', '갯벌', '염전', '곰소', '소금', '바닷...",False,False
3,dataset1,4,변산 솔섬 해변 일몰 석양 노을 -2 _2160p_60fps_prores422,"['나무', '일몰', '자연', '바다', '해', '산', '노을', '바닷가'...",False,False
4,dataset1,5,20210724_제스처_권미정_손가락을 비비다,"['인물', '그린스크린', '손', '손가락', '제스쳐', '비비다', '크로마...",False,True
...,...,...,...,...,...,...
5449,dataset2,1996,덕유산겨울풍경24,"['겨울', '눈', '등산', '오리', '케이블카', '눈꽃', '겨울등산', ...",False,False
5450,dataset2,1997,할로윈_무덤_배경소스,"['모션', '손', '배경', '달', '백그라운드', '전설', '공포', '땅...",True,False
5451,dataset2,1998,봄11,"['꽃', '모션', '풍경', '자연', '사랑', '배경', '연인', '웨딩'...",True,False
5452,dataset2,1999,눈 위의 소나무 가지 (원경),"['자연', '겨울', '눈', '12월', '햇살', '추운', 'snow', '...",False,False
5453,dataset2,2000,3월 봄₩7,"['풍경', '자연', '여행', '힐링', '봄', '자연풍경', 'spring'...",False,False

In [8]:
valid_df

,dataset,image_number,title,tags_ko,motion_exist,greenscreen_exist
0,dataset1,1502,광화문_종로구_광화문광장 (3),"['서울', '회사', '빌딩', '모임', '도심', '타임랩스', '직장인', ...",False,False
1,dataset1,1697,혈액 샘플 태그 붙이고 분류 레이블링하는 간호사,"['인물', '직업', '샘플', '간호사', '병원', '혈액형', '혈액', '...",False,False
2,dataset1,1140,트리,['모션'],True,False
3,dataset1,2679,영화,['모션'],True,False
4,dataset2,660,물총새 바위 6mm,"['나무', '레트로', '90년', '테이프', '바위', '새', '조류', '...",False,False
...,...,...,...,...,...,...
495,dataset1,877,크리에이터 서포터즈,"['모션', '동영상', '크리에이터', '사람', '여자', '모션그래픽', '4...",True,False
496,dataset1,3400,VS,"['구도', '모션', '싸움', '싸우다', '대결', '라이벌', '경쟁', '...",True,False
497,dataset1,1159,폭풍우 지난 뒤,"['그림', '배경', '배', '선박', '폭풍', '쓰러진', '디지털아트', ...",False,False
498,dataset1,948,수옥폭포_괴산군_수옥폭포,"['충청북도', '수옥폭포', '괴산군']",False,False
499,dataset1,3854,일출,"['해돋이해수욕장', 'dronelife_sun', '일출', '물', '하늘', ...",False,False